# 1. Problem Statement: To predict the price of the houses.

# 2. Collection of data

In [147]:
import pandas as pd

In [148]:
data=pd.read_csv("train.csv")

In [149]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [150]:
data.shape

(1460, 81)

In [151]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [152]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [153]:
#for memory space
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 3.9 MB

After step we got to know that:
1. The data contains 1460 rows and 81 columns.
2. The data contains Null values.
3. The data takes  3.9 MB space.
4. The data contains mixture of int64 and object data types.

# 3. Data Cleaning

In [154]:
#for duplicates
data.duplicated().sum()

0

In [155]:
#to check for null values
for col in data.columns:
    if data[col].isnull().sum()!=0:
        print(f"{col} -> {data[col].isnull().sum()}")

LotFrontage -> 259
Alley -> 1369
MasVnrType -> 872
MasVnrArea -> 8
BsmtQual -> 37
BsmtCond -> 37
BsmtExposure -> 38
BsmtFinType1 -> 37
BsmtFinType2 -> 38
Electrical -> 1
FireplaceQu -> 690
GarageType -> 81
GarageYrBlt -> 81
GarageFinish -> 81
GarageQual -> 81
GarageCond -> 81
PoolQC -> 1453
Fence -> 1179
MiscFeature -> 1406

In [156]:
data['LotFrontage'].dtypes

dtype('float64')

In [157]:
data['LotFrontage'].describe()

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

In [158]:
data['LotFrontage'].value_counts()

LotFrontage
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
137.0      1
141.0      1
38.0       1
140.0      1
46.0       1
Name: count, Length: 110, dtype: int64

In [159]:
#choosing 60.0 for missing values at LotFrontage
data['LotFrontage']=data['LotFrontage'].fillna(60.0)

In [160]:
data['Alley'].dtypes

dtype('O')

In [161]:
data['Alley'].value_counts()

Alley
Grvl    50
Pave    41
Name: count, dtype: int64

In [162]:
data['Alley']=data['Alley'].fillna('Grvl')

In [163]:
data['MasVnrType'].dtypes

dtype('O')

In [164]:
data['MasVnrType'].value_counts()

MasVnrType
BrkFace    445
Stone      128
BrkCmn      15
Name: count, dtype: int64

In [165]:
data['MasVnrType']=data['MasVnrType'].fillna('BrkFace')

In [166]:
data['MasVnrArea'].dtypes

dtype('float64')

In [167]:
data['MasVnrArea'].describe()

count    1452.000000
mean      103.685262
std       181.066207
min         0.000000
25%         0.000000
50%         0.000000
75%       166.000000
max      1600.000000
Name: MasVnrArea, dtype: float64

In [168]:
data['MasVnrArea'].value_counts()

MasVnrArea
0.0      861
180.0      8
72.0       8
108.0      8
120.0      7
        ...
562.0      1
89.0       1
921.0      1
762.0      1
119.0      1
Name: count, Length: 327, dtype: int64

In [169]:
#going with median for  MasVnrArea
data['MasVnrArea']=data['MasVnrArea'].fillna(data['MasVnrArea'].median())

In [170]:
data['BsmtQual'].dtypes

dtype('O')

In [171]:
data['BsmtQual'].value_counts()

BsmtQual
TA    649
Gd    618
Ex    121
Fa     35
Name: count, dtype: int64

In [172]:
data['BsmtQual']=data['BsmtQual'].fillna('TA')

In [173]:
data['BsmtCond'].dtypes

dtype('O')

In [174]:
data['BsmtCond'].value_counts()

BsmtCond
TA    1311
Gd      65
Fa      45
Po       2
Name: count, dtype: int64

In [175]:
data['BsmtCond']=data['BsmtCond'].fillna('TA')

In [176]:
data['BsmtExposure'].dtypes

dtype('O')

In [177]:
data['BsmtExposure'].value_counts()

BsmtExposure
No    953
Av    221
Gd    134
Mn    114
Name: count, dtype: int64

In [178]:
data['BsmtExposure']=data['BsmtExposure'].fillna('No')

In [179]:
data['BsmtFinType1'].dtypes

dtype('O')

In [180]:
data['BsmtFinType1'].value_counts()

BsmtFinType1
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: count, dtype: int64

In [181]:
data['BsmtFinType1']=data['BsmtFinType1'].fillna('Unf')

In [182]:
data['BsmtFinType2'].dtypes

dtype('O')

In [183]:
data['BsmtFinType2'].value_counts()

BsmtFinType2
Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: count, dtype: int64

In [184]:
data['BsmtFinType2']=data['BsmtFinType2'].fillna('Unf')

In [185]:
data['Electrical'].dtypes

dtype('O')

In [186]:
data['Electrical'].value_counts()

Electrical
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: count, dtype: int64

In [187]:
data['Electrical']=data['Electrical'].fillna('SBrkr')

In [188]:
data['FireplaceQu'].dtypes

dtype('O')

In [189]:
data['FireplaceQu'].value_counts()

FireplaceQu
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: count, dtype: int64

In [190]:
data['FireplaceQu']=data['FireplaceQu'].fillna('Gd')

In [191]:
data['GarageType'].dtypes

dtype('O')

In [192]:
data['GarageType'].value_counts()

GarageType
Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: count, dtype: int64

In [193]:
data['GarageType']=data['GarageType'].fillna('Attchd')

In [194]:
data['GarageYrBlt'].dtypes

dtype('float64')

In [195]:
data['GarageYrBlt'].describe()

count    1379.000000
mean     1978.506164
std        24.689725
min      1900.000000
25%      1961.000000
50%      1980.000000
75%      2002.000000
max      2010.000000
Name: GarageYrBlt, dtype: float64

In [196]:
data['GarageYrBlt'].value_counts()

GarageYrBlt
2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
          ..
1927.0     1
1900.0     1
1906.0     1
1908.0     1
1933.0     1
Name: count, Length: 97, dtype: int64

In [197]:
data['GarageYrBlt']=data['GarageYrBlt'].fillna(data['GarageYrBlt'].median())

In [198]:
data['GarageFinish'].dtypes

dtype('O')

In [199]:
data['GarageFinish'].value_counts()

GarageFinish
Unf    605
RFn    422
Fin    352
Name: count, dtype: int64

In [200]:
data['GarageFinish']=data['GarageFinish'].fillna('Unf')

In [201]:
data['GarageQual'].dtypes

dtype('O')

In [202]:
data['GarageQual'].value_counts()

GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

In [203]:
data['GarageQual']=data['GarageQual'].fillna('TA')

In [204]:
data['GarageCond'].dtypes

dtype('O')

In [205]:
data['GarageCond'].value_counts()

GarageCond
TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: count, dtype: int64

In [206]:
data['GarageCond']=data['GarageCond'].fillna('TA')

In [207]:
data.drop(columns=['PoolQC','Fence','MiscFeature'],axis=1,inplace=True)

In [208]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 78 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          1460 non-null   object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1460 non-null   object
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1460 non-null   object
 31  BsmtCond       1460 non-null   object
 32  BsmtExposure   1460 non-null   object
 33  BsmtFinType1   1460 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1460 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   object
 58  GarageType     1460 non-null   object
 59  GarageYrBlt    1460 non-null   float64
 60  GarageFinish   1460 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1460 non-null   object
 64  GarageCond     1460 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  MiscVal        1460 non-null   int64
 73  MoSold         1460 non-null   int64
 74  YrSold         1460 non-null   int64
 75  SaleType       1460 non-null   object
 76  SaleCondition  1460 non-null   object
 77  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(40)
memory usage: 889.8+ KB

In [209]:
#now converting data type of the object type
object_dtypes=[]
for col in data.columns:
    if data[col].dtypes=='object':
        object_dtypes.append(col)
object_dtypes

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [210]:
from sklearn.preprocessing import  LabelEncoder
lb=LabelEncoder()
for i in object_dtypes:
    data[i]=lb.fit_transform(data[i])

In [211]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 78 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   int32
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   int32
 6   Alley          1460 non-null   int32
 7   LotShape       1460 non-null   int32
 8   LandContour    1460 non-null   int32
 9   Utilities      1460 non-null   int32
 10  LotConfig      1460 non-null   int32
 11  LandSlope      1460 non-null   int32
 12  Neighborhood   1460 non-null   int32
 13  Condition1     1460 non-null   int32
 14  Condition2     1460 non-null   int32
 15  BldgType       1460 non-null   int32
 16  HouseStyle     1460 non-null   int32
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   int32
 22  RoofMatl       1460 non-null   int32
 23  Exterior1st    1460 non-null   int32
 24  Exterior2nd    1460 non-null   int32
 25  MasVnrType     1460 non-null   int32
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   int32
 28  ExterCond      1460 non-null   int32
 29  Foundation     1460 non-null   int32
 30  BsmtQual       1460 non-null   int32
 31  BsmtCond       1460 non-null   int32
 32  BsmtExposure   1460 non-null   int32
 33  BsmtFinType1   1460 non-null   int32
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   int32
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   int32
 40  HeatingQC      1460 non-null   int32
 41  CentralAir     1460 non-null   int32
 42  Electrical     1460 non-null   int32
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   int32
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   int32
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   int32
 58  GarageType     1460 non-null   int32
 59  GarageYrBlt    1460 non-null   float64
 60  GarageFinish   1460 non-null   int32
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1460 non-null   int32
 64  GarageCond     1460 non-null   int32
 65  PavedDrive     1460 non-null   int32
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  MiscVal        1460 non-null   int64
 73  MoSold         1460 non-null   int64
 74  YrSold         1460 non-null   int64
 75  SaleType       1460 non-null   int32
 76  SaleCondition  1460 non-null   int32
 77  SalePrice      1460 non-null   int64
dtypes: float64(3), int32(40), int64(35)
memory usage: 661.7 KB

In 3 step we  have done:
1. Remove all Null values.
2. Remove the columns which have majorly null values.
3. Convert object data type to int.

#  4. Data analysis and Feature engineering

In [212]:
#id not needed
data=data.drop('Id',axis=1)

In [213]:
#now finding correlation between the attributes
co=data.corr()

In [214]:
co['SalePrice'].sort_values(ascending=False)

SalePrice       1.000000
OverallQual     0.790982
GrLivArea       0.708624
GarageCars      0.640409
GarageArea      0.623431
                  ...
HeatingQC      -0.400178
GarageFinish   -0.537242
KitchenQual    -0.589189
BsmtQual       -0.618025
ExterQual      -0.636884
Name: SalePrice, Length: 77, dtype: float64

In [215]:
include=[]
c=co['SalePrice']
for i in data.columns:
    if c[i]>0.4:
        print(f"{i} -> {c[i]}")
        include.append(i)
    elif -1*c[i]>0.4:
        print(f"{i} -> {c[i]}")
        include.append(i)

OverallQual -> 0.7909816005838053
YearBuilt -> 0.5228973328794967
YearRemodAdd -> 0.5071009671113866
MasVnrArea -> 0.4726144990045735
ExterQual -> -0.6368836943991116
BsmtQual -> -0.6180253538653229
TotalBsmtSF -> 0.6135805515591943
HeatingQC -> -0.400177543162901
1stFlrSF -> 0.6058521846919153
GrLivArea -> 0.7086244776126515
FullBath -> 0.5606637627484453
KitchenQual -> -0.589188778299423
TotRmsAbvGrd -> 0.5337231555820284
Fireplaces -> 0.46692883675152763
GarageYrBlt -> 0.4667536523633407
GarageFinish -> -0.5372421226773465
GarageCars -> 0.6404091972583519
GarageArea -> 0.6234314389183622
SalePrice -> 1.0

In [216]:
data=data[include]
data

,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,BsmtQual,TotalBsmtSF,HeatingQC,1stFlrSF,GrLivArea,FullBath,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageFinish,GarageCars,GarageArea,SalePrice
0,7,2003,2003,196.0,2,2,856,0,856,1710,2,2,8,0,2003.0,1,2,548,208500
1,6,1976,1976,0.0,3,2,1262,0,1262,1262,2,3,6,1,1976.0,1,2,460,181500
2,7,2001,2002,162.0,2,2,920,0,920,1786,2,2,6,1,2001.0,1,2,608,223500
3,7,1915,1970,0.0,3,3,756,2,961,1717,1,2,7,1,1998.0,2,3,642,140000
4,8,2000,2000,350.0,2,2,1145,0,1145,2198,2,2,9,1,2000.0,1,3,836,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,6,1999,2000,0.0,3,2,953,0,953,1647,2,3,7,1,1999.0,1,2,460,175000
1456,6,1978,1988,119.0,3,2,1542,4,2073,2073,2,3,7,2,1978.0,2,2,500,210000
1457,7,1941,2006,0.0,0,3,1152,0,1188,2340,2,2,9,2,1941.0,1,1,252,266500
1458,5,1950,1996,0.0,3,3,1078,2,1078,1078,1,2,5,0,1950.0,2,1,240,142125
1459,5,1965,1965,0.0,2,3,1256,2,1256,1256,1,3,6,0,1965.0,0,1,276,147500

In [217]:
target=data['SalePrice']

In [218]:
df=data.drop('SalePrice',axis=1)

In [219]:
fig, axes = plt.subplots(6, 3, figsize=(18, 36), sharey=True)
k=0
for i in range(6):
    for j in range(3):
        sns.regplot(x=df.columns[k],y='SalePrice',data=data,ax=axes[i][j])
        plt.plot()
        k+=1

NameError: name 'plt' is not defined

In [ ]:
#to detect outliers
fig, axes = plt.subplots(6, 3, figsize=(18, 36), sharey=True)
k=0
for i in range(6):
    for j in range(3):
        sns.boxplot(y=df.columns[k],data=data,ax=axes[i][j])
        plt.plot()
        k+=1

In [ ]:
data.columns

In [ ]:
# to resolve outlier problem using iqr
import numpy as np
arr=['MasVnrArea','TotalBsmtSF','1stFlrSF','GrLivArea','GarageArea']
for i in arr:
    q1=data[i].quantile(0.25)
    q3=data[i].quantile(0.75)
    iqr=q3-q1
    maximum=q3+1.5*iqr
    minimum=q1-1.5*iqr
    
    for j in range(0,len(data[i])):
        if data[i][j]>maximum or data[i][j]<minimum:
            data[i][j]=data[i].median()

In [ ]:
#breaking into train and test data
df=data.drop('SalePrice',axis=1)
target=data['SalePrice']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, target, test_size=0.3, random_state=42)

In [ ]:
y_train.shape

in the 4th step we:
1. Analyse th data and found only 19 columns are relevant.
2. Detect outliers and resolve it.
3. Break into test and train data.

# 5. Model Selection

In [ ]:
#this is regression prolem so try for the model which gives best result in regression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_squared_log_error
def check(model):
    y_pred=model.predict(x_test)
    
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    msle = mean_squared_log_error(y_test, y_pred)

    print(f'MAE: {mae}')
    print(f'MSE: {mse}')
    print(f'RMSE: {rmse}')
    print(f'R-squared: {r2}')
    print(f'MSLE: {msle}')

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression().fit(x_train,y_train)
check(lr)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn=KNeighborsRegressor(3).fit(x_train,y_train)
check(knn)

In [ ]:
from sklearn.svm import SVR
svm=SVR().fit(x_train,y_train)
check(svm)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor().fit(x_train,y_train)
check(dt)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor().fit(x_train,y_train)
check(rf)

In [ ]:
from sklearn.ensemble import BaggingRegressor
br=BaggingRegressor().fit(x_train,y_train)
check(br)

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
ada=AdaBoostRegressor().fit(x_train,y_train)
check(ada)

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
ex=ExtraTreesRegressor().fit(x_train,y_train)
check(ex)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gb=GradientBoostingRegressor().fit(x_train,y_train)
check(gb)

In [ ]:
from sklearn.ensemble import HistGradientBoostingRegressor
hsb=HistGradientBoostingRegressor().fit(x_train,y_train)
check(hsb)

In [ ]:
#from comparing all ML model it is found to be gradientboostingregressor to be best 
#now to select best hyperparameters
parameters={
    'loss':['squared_error', 'absolute_error', 'huber', 'quantile'],
    'criterion':['friedman_mse', 'squared_error'],
    'max_features':['sqrt', 'log2'],
    'learning_rate':[0.1,0.2,0.3,0.4]}

from sklearn.model_selection import GridSearchCV
gb=GradientBoostingRegressor()

cv=GridSearchCV(gb,parameters,cv=3,verbose=2)
cv.fit(x_train,y_train)

In [ ]:
cv.best_estimator_

In [ ]:
cv.best_params_

In [ ]:
cv.best_score_

In [ ]:
model=GradientBoostingRegressor(criterion= 'friedman_mse',learning_rate=0.1,loss='squared_error',max_features='log2').fit(x_train,y_train)

In [ ]:
model.predict(x_test)

In step 5 we get:
1. different models are tested.
2. Best comes to be Gradientboostnregressor with accuracy of 87.65%
3. Best hyperparameters are selected.

# 6. Saving result and model

In [ ]:
import joblib
joblib.dump(model, 'model.joblib')

In [ ]:
# now prediction for sample test case provided
test=pd.read_csv('test.csv')

In [ ]:
test.info()